.AppHeader {
  height: 4.5rem;
  background-color: var(--bg-yellow);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-bar {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
}
.nav-logo {
  font-size: 2.5rem;
  color: var(--main-yellow);
  font-family: var(--logo-font);
}
.nav-logo img {
  max-height: 3.3rem;
}
.nav-link {
  display: inline;
  list-style: none;
}
.nav-item {
  display: inline;
  margin-left: 1.4rem;
}
.nav-item a {
  text-decoration: none;
  color: var(--pale-yellow);
}
.nav-item a:hover {
  color: var(--main-yellow);
}
.nav-item.current a {
  color: var(--main-yellow);
}
.nav-action {
  display: none;
}
.nav-action > * {
  color: var(--pale-yellow);
  font-size: 1.8rem;
}
@media only screen and (max-width: 768px) {
  .AppHeader {
    height: auto;
  }
  .nav-bar {
    height: auto;
  }
  .nav-mobile {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
    align-items: center;
  }
  .nav-link {
    transition: all 0.5s ease-in-out;
    margin: 0;
    margin-top: -99rem;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    z-index: -999;
  }
  .nav-link.active {
    pointer-events: all;
    margin-top: 0;
    opacity: 100;
    display: block;
    width: 90vw;
    z-index: 1;
    margin-bottom: 0.8rem;
  }
  .nav-item {
    display: block;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1.1rem;
  }
  .nav-action {
    display: block;
  }
}
