.Banner {
  position: relative;
  height: calc(100vh - 4.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 35rem;
  max-width: 90vw;
  margin-bottom: 10rem;
}
.banner-title {
  font-size: 3.2rem;
  font-family: var(--title-font);
}
.banner-title span {
  color: var(--main-yellow);
}
.banner-detail {
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 2.2rem;
}
.banner-img {
  margin-right: 5vw;
  width: 30rem;
  max-width: 40vw;
}
.banner-img img {
  width: 100%;
}
.banner-wave {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .banner-img {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  .banner-img {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
