:root {
  --logo-font: "Cinzel", serif;
  --title-font: "DM Serif Text", serif;
  --body-font: "Roboto", sans-serif;
  --main-yellow: #eb9c00;
  --pale-yellow: #eeaf32;
  --dark-yellow: #6b4700;
  --dull-yellow: #b87a00;
  --bg-yellow: #302000;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  outline: none;
  font-family: var(--body-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
