:root {
  --logo-font: "Cinzel Decorative", cursive;
  --title-font: "DM Serif Text", serif;
  --body-font: "Roboto", sans-serif;
  --main-yellow: #eb9c00;
  --pale-yellow: #fec147;
  --dark-yellow: #6b4700;
  --dull-yellow: #b87a00;
  --bg-yellow: #281b00;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  outline: none;
  font-family: var(--body-font);
  /* background-color: var(--bg-yellow); */
}
.btn {
  padding: 0.8rem 1.5rem;
  background-color: var(--main-yellow);
  border: none;
  border-radius: 0.3rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 0.95rem;
  font-family: var(--title-font);
}
.btn:hover {
  background-color: var(--pale-yellow);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
